<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/bootstrap.css">
  <link href="/public/stylesheets/camera.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/public/stylesheets/normalize.css">
  <link rel="stylesheet" href="/public/stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/media.css" />
  <script src="/public/javascripts/modernizr-3.5.0.min.js"></script>
  <link rel='stylesheet' href='/public/stylesheets/style.css' />
  <link href="//cdn.muicss.com/mui-0.9.41/css/mui.min.css" rel="stylesheet" type="text/css" />
  <title>
    <%= title %>
  </title>
</head>

<body>
  <div class="mui-container-fluid">
    <div class="row">
      <div class="camera_wrap">
        <div data-src="/public/images/header2.jpeg">
          <img src="/public/images/header2.jpeg">
          <div class="camera_caption">
            <p>A jQuery slideshow with many effects, transitions, easy to customize, using canvas and mobile ready,
              based on jQuery 1.9.1+</p>
          </div>
        </div>
        <div data-src="/public/images/header-bg.jpg">
          <img src="/public/images/header-bg.jpg" class="img-responsive">
          <div class="camera_caption">
            <p>A jQuery slideshow with many effects, transitions, easy to customize, using canvas and mobile ready,
              based on jQuery 1.9.1+</p>
          </div>
        </div>
        <div data-src="/public/images/header1.jpeg">
          <img src="/public/images/header1.jpeg">
          <div class="camera_caption">
            <p>A jQuery slideshow with many effects, transitions, easy to customize, using canvas and mobile ready,
              based on jQuery 1.9.1+</p>
          </div>
        </div>
      </div>
    </div>

    <form id="login-form" class="mui-form mui--text-center" action="/">
      <legend>Login to continue</legend>
      <div class="mui-textfield mui-textfield--float-label">
        <input type="text">
        <label>Username</label>
      </div>
      <div class="mui-textfield mui-textfield--float-label">
        <input type="password">
        <label>Password</label>
      </div>
      <button type="submit" class="mui-btn mui-btn--raised mui-btn--accent">Login</button>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script>window.jQuery || document.write('<script src="/public/javascripts/jquery-3.2.1.min.js"><\/script>')</script>
  <script src="/public/javascripts/easing.min.js" type="text/javascript"></script>
  <script src="/public/javascripts/camera.min.js" type="text/javascript"></script>
  <script src="/public/javascripts/bootstrap.min.js" type="text/javascript"></script>
  <script src="/public/javascripts/plugins.js"></script>
  <script>
    window.ga = function () {
      ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
  <script src="//cdn.muicss.com/mui-0.9.41/js/mui.min.js"></script>
</body>

</html>